@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap');


.main_screen {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-flow: row wrap;
    background-color: orange;

    .screen {
        display: flex;
        flex-direction: column;
        flex: 1;

        .change {
            background-color: palegreen;
        }
    }
}